/*****************************
*********** FONTS ************
*****************************/

/* changa-one-regular - latin */
@font-face {
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/changa-one-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/changa-one-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/changa-one-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/changa-one-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/changa-one-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/changa-one-v13-latin-regular.svg#ChangaOne') format('svg'); /* Legacy iOS */
}


/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v27-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v27-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v27-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v27-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v27-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v27-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v27-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v27-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-800 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v27-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v27-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v27-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v27-latin-800.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v27-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v27-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v27-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v27-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v27-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v27-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v27-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v27-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/open-sans-v27-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v27-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v27-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v27-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v27-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v27-latin-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}


/*****************************
********** GENERAL ***********
*****************************/

* { /*https://developer.mozilla.org/fr/docs/Web/CSS/box-sizing*/
    box-sizing: border-box;
}

body {
    background-color: #fdfffc;
    color: #011627;
    font-family: "Open Sans", Arial, sans-serif ;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.4;
}

h1,
h2,
h3 {
    font-family: "Changa One", cursive;
    font-weight: 400;
}

/*
Tailles des titres de niveau 1 `2rem`
Marge extérieure en bas de `1em`
*/
h1 {
    font-size: 2rem; /* 2 * 16px */
    margin-bottom: 1em ;
}


/*
Tailles des titres de niveau 2 `1.5rem`
Hauteur de ligne des paragraphes `1.5`
*/


/* Les liens du site sont rouges `#e71d36` et ne sont pas soulignés */
