/* pour les écrans >= 480px */
@media only screen and (min-width: 480px) {
    body {
        background-color: red;
    }
} /* min-width: 480px */


/* pour les écrans >= 660px */
@media only screen and (min-width: 660px) {
    body {
        background-color: blue;
    }
} /* min-width: 660px */

/* pour les écrans >= 910px */
@media only screen and (min-width: 910px) {
    body {
        background-color: greenyellow;
    }
} /* min-width: 910px */